.bg-main {
  background-color: var(--theme-color-white);
}

.bg-alt {
  background-color: var(--theme-color-coolGrey);
}

.bg-tint {
  background-color: var(--theme-color-iceBlue);
}

.bg-color {
  background-color: var(--theme-color-yellow);
}