.list-theme {
  margin: 0 0 0 2em;
}

.list-theme-items {
  margin-bottom: 20px;
  padding: 1em;
  border-left: 2px solid #cccccc;
  background-color: #f5f5f5;
}

.list-theme-variable {
  font-weight: bold;
}
