[class^="ico_"]:before, [class*="ico_"]:before {
  font-family: "correos-icons";
  font-style: normal;
  font-weight: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 1.5rem;
  height: 1.5rem;
}

.ico_add:before { content: '\e800'; } /* '' */
.ico_address:before { content: '\e801'; } /* '' */
.ico_adjunto:before { content: '\e802'; } /* '' */
.ico_almacen:before { content: '\e803'; } /* '' */
.ico_arrive:before { content: '\e804'; } /* '' */
.ico_arrow:before { content: '\e805'; } /* '' */
.ico_box_scan:before { content: '\e807'; } /* '' */
.ico_burofax:before { content: '\e808'; } /* '' */
.ico_chat:before { content: '\e809'; } /* '' */
.ico_close:before { content: '\e80a'; } /* '' */
.ico_code_scan:before { content: '\e80b'; } /* '' */
.ico_code:before { content: '\e80c'; } /* '' */
.ico_copy:before { content: '\e80d'; } /* '' */
.ico_comentarios:before { content: '\e80e'; } /* '' */
.ico_correos:before { content: '\e80f'; } /* '' */
.ico_date:before { content: '\e810'; } /* '' */
.ico_delete_text:before { content: '\e811'; } /* '' */
.ico_direc_citypaq:before { content: '\e812'; } /* '' */
.ico_direc_entrega:before { content: '\e813'; } /* '' */
.ico_download:before { content: '\e814'; } /* '' */
.ico_drop:before { content: '\e815'; } /* '' */
.ico_edit:before { content: '\e816'; } /* '' */
.ico_emial:before { content: '\e817'; } /* '' */
.ico_favourite_off:before { content: '\e818'; } /* '' */
.ico_favourite_on:before { content: '\e819'; } /* '' */
.ico_filter:before { content: '\e81a'; } /* '' */
.ico_help:before { content: '\e81b'; } /* '' */
.ico_home:before { content: '\e81c'; } /* '' */
.ico_info:before { content: '\e81d'; } /* '' */
.ico_legal:before { content: '\e81e'; } /* '' */
.ico_less:before { content: '\e81f'; } /* '' */
.ico_location:before { content: '\e820'; } /* '' */
.ico_log_out:before { content: '\e821'; } /* '' */
.ico_map:before { content: '\e822'; } /* '' */
.ico_notif_info:before { content: '\e823'; } /* '' */
.ico_notif_info2:before { content: '\e824'; } /* '' */
.ico_notif_ok:before { content: '\e825'; } /* '' */
.ico_notif_wrong:before { content: '\e826'; } /* '' */
.ico_options:before { content: '\e827'; } /* '' */
.ico_pago_card:before { content: '\e828'; } /* '' */
.ico_pago_oficina:before { content: '\e829'; } /* '' */
.ico_pago_paypal:before { content: '\e82a'; } /* '' */
.ico_pass_off:before { content: '\e82b'; } /* '' */
.ico_pass_on:before { content: '\e82c'; } /* '' */
.ico_pendiente:before { content: '\e82d'; } /* '' */
.ico_perfil:before { content: '\e82e'; } /* '' */
.ico_personal:before { content: '\e82f'; } /* '' */
.ico_phone:before { content: '\e830'; } /* '' */
.ico_poi:before { content: '\e831'; } /* '' */
.ico_refresh:before { content: '\e832'; } /* '' */
.ico_remitente:before { content: '\e833'; } /* '' */
.ico_rubbish:before { content: '\e834'; } /* '' */
.ico_save:before { content: '\e835'; } /* '' */
.ico_saved:before { content: '\e836'; } /* '' */
.ico_search:before { content: '\e837'; } /* '' */
.ico_share:before { content: '\e838'; } /* '' */
.ico_tosend_blue:before { content: '\e839'; } /* '' */
.ico_tosend_card:before { content: '\e83a'; } /* '' */
.ico_turn:before { content: '\e83b'; } /* '' */
.ico_ubicación:before { content: '\e83c'; } /* '' */