.text-headline-1 {
  font-size: 1.5rem;
  line-height: 1.75rem;

  @include tablet {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  @include desktop {
    font-size: 3rem;
    line-height: 3rem;
  }

}

.text-headline-2 {
  font-size: 1.5rem;
  line-height: 1.75rem;

  @include tablet {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  @include desktop {
    font-size: 2.25rem;
    line-height: 2.25rem;
  }
}

.text-headline-3 {
  font-size: 1rem;
  line-height: 1.25rem;

  @include tablet {
    font-size: 1.5rem;
    line-height: 1.75rem;
  }

  @include desktop {
    font-size: 2rem;
    line-height: 2rem;
  }
}

.text-paragraph {
  font-size: 1rem;
  line-height: 1.5rem;
}


.text-color-main {
  color: var(--theme-color-strongGrey);
}

.text-color-tint {
  color: var(--theme-color-blue);
}

.text-color-default {
  color: var(--theme-color-strongGrey);
}

.text-light {
  font-weight: 300;
}

.text-bold {
  font-weight: 600;
}