correos-ui-card {
    --ui-correos-card-bg-color: var(--theme-color-white);
    --ui-correos-card-border-radius: var(--theme-borderRadius-card);
    --ui-card-bg-color-disabled: var(--theme-color-coolGrey);
    --ui-card-border-color: var(--theme-color-coolGrey);
    --correos-card-icon-bg-color: var(--theme-color-oficinas);
  }