  correos-ui-input {
    --ui-input-bg-color: #F3F2F2;
    --ui-input-border-radius: 8px;
    --ui-input-line-color: #FFCD00;
    --ui-input-line-color-ripple: #000066;
    --ui-input-label-color: #000066;
    --ui-input-field-color: #333333;
    --ui-input-field-color-empty: #666666;
    --ui-input-error-color: #F32735;
    --ui-input-valid-color: #348F41;
  }