
correos-ui-button {
  --ui-button-font-family: var(--theme-fontFamily-main);
  --ui-button-bg-color: var(--theme-color-lightGrey);
  --ui-button-bg-color-disabled: var(--theme-color-coolGrey);
  --ui-button-bg-color-hover: var(--theme-color-strongGrey);
  --ui-button-text-color: var(--theme-color-white);
  --ui-button-border-color: transparent;
  --ui-button-border: none;
  --ui-button-border-color-disabled: transparent;
}

correos-ui-button[primary] {
  --ui-button-bg-color: var(--theme-color-yellow);
  --ui-button-bg-color-disabled: var(--theme-color-coolGrey);
  --ui-button-bg-color-hover: var(--theme-color-hoverYellow);
  --ui-button-text-color: var(--theme-color-blue);
  --ui-button-border-color: transparent;
  --ui-button-border: none;
  --ui-button-border-color-disabled: transparent;
}

correos-ui-button[secondary] {
  --ui-button-bg-color: var(--theme-color-blue);
  --ui-button-bg-color-disabled: var(--theme-color-coolGrey);
  --ui-button-bg-color-hover: var(--theme-color-hoverBlue);
  --ui-button-text-color: var(--theme-color-white);
  --ui-button-border-color: transparent;
  --ui-button-border: none;
  --ui-button-border-color-disabled: transparent;
}

correos-ui-button[ghost] {
  --ui-button-bg-color: transparent;
  --ui-button-bg-color-disabled: var(--theme-color-coolGrey);
  --ui-button-bg-color-hover: var(--theme-color-softGrey);
  --ui-button-text-color: var(--theme-color-strongGrey);
  --ui-button-border-color: var(--theme-color-softGrey);
  --ui-button-border: solid 0.0625rem;
  --ui-button-border-color-disabled: solid 1px var(--theme-color-white);
}

correos-ui-button[link][primary] {
  --ui-button-bg-color: transparent;
  --ui-button-bg-color-disabled: transparent;
  --ui-button-bg-color-hover: transparent;
  --ui-button-text-color: var(--theme-color-yellow);
  --ui-button-text-color-hover: var(--theme-color-hoverYellow);
  --ui-button-border: none;
  --ui-button-min-width: unset;
}

correos-ui-button[link][secondary] {
  --ui-button-bg-color: transparent;
  --ui-button-bg-color-disabled: transparent;
  --ui-button-bg-color-hover: transparent;
  --ui-button-text-color: var(--theme-color-blue);
  --ui-button-text-color-hover: var(--theme-color-hoverBlue);
  --ui-button-border: none;
  --ui-button-min-width: unset;
}


