:root {
      --ui-card-large-bg-color: var(--theme-color-white);
      --ui-card-large-border-radius: var(--theme-borderRadius-card);
      --ui-card-large-border-color: var(--theme-color-coolGrey);
      --ui-card-large-bg-color-line: var(--theme-color-yellow);
      --ui-card-large-bg-color-disabled: var(--theme-color-coolGrey);
      --ui-card-large-text-title-color: var(--theme-color-blue);
  }