:root {
  /** Button */
  --ui-button-font-family: var(--theme-fontFamily-main);
  --ui-button-border-radius: var(--theme-borderRadius-card);
  --ui-button-bg-color: var(--theme-color-lightGrey);
  --ui-button-bg-color-disabled: var(--theme-color-coolGrey);
  --ui-button-bg-color-hover: var(--theme-color-strongGrey);
  --ui-button-text-color: var(--theme-color-white);
  --ui-button-text-color-hover: var(--theme-color-white);
  --ui-button-border-color: transparent;
  --ui-button-border: none;
  --ui-button-border-color-disabled: var(--theme-color-sendGrey);

  /* Primary */
  --ui-button-primary-bg-color: var(--theme-color-yellow);
  --ui-button-primary-bg-color-disabled: var(--theme-color-coolGrey);
  --ui-button-primary-bg-color-hover: var(--theme-color-brown);
  --ui-button-primary-text-color: var(--theme-color-blue);
  --ui-button-primary-border-color: var(--theme-color-brown);
  --ui-button-primary-border: solid 0.0625rem;
  --ui-button-primary-border-color-disabled: var(--theme-color-sendGrey);

  /* Secondary */
  --ui-button-secondary-bg-color: var(--theme-color-blue);
  --ui-button-secondary-bg-color-disabled: var(--theme-color-coolGrey);
  --ui-button-secondary-bg-color-hover: var(--theme-color-hoverBlue);
  --ui-button-secondary-text-color: var(--theme-color-white);
  --ui-button-secondary-border-color: transparent;
  --ui-button-secondary-border: none;
  --ui-button-secondary-border-color-disabled: var(--theme-color-sendGrey);

  /* Ghost */
  --ui-button-ghost-bg-color: transparent;
  --ui-button-ghost-bg-color-disabled: var(--theme-color-coolGrey);
  --ui-button-ghost-bg-color-hover: var(--theme-color-softGrey);
  --ui-button-ghost-text-color: var(--theme-color-strongGrey);
  --ui-button-ghost-border-color: var(--theme-color-softGrey);
  --ui-button-ghost-border: solid 0.0625rem;
  --ui-button-ghost-border-color-disabled: var(--theme-color-sendGrey);

  /* Link primary */
  --ui-button-link-primary-bg-color: transparent;
  --ui-button-link-primary-bg-color-disabled: transparent;
  --ui-button-link-primary-bg-color-hover: transparent;
  --ui-button-link-primary-text-color: var(--theme-color-yellow);
  --ui-button-link-primary-text-color-hover: var(--theme-color-brown);
  --ui-button-link-primary-border: none;
  --ui-button-link-primary-min-width: unset;

  /* Link secondary */
  --ui-button-link-secondary-bg-color: transparent;
  --ui-button-link-secondary-bg-color-disabled: transparent;
  --ui-button-link-secondary-bg-color-hover: transparent;
  --ui-button-link-secondary-text-color: var(--theme-color-blue);
  --ui-button-link-secondary-text-color-hover: var(--theme-color-hoverBlue);
  --ui-button-link-secondary-border: none;
  --ui-button-link-secondary-min-width: unset;
}
