:root {
    --ui-card-bg-color: var(--theme-color-white);
    --ui-card-border-radius: var(--theme-borderRadius-card);
    --ui-card-bg-color-disabled: var(--theme-color-coolGrey);
    --ui-card-border-color: var(--theme-color-coolGrey);
    --ui-card-icon-bg-color: var(--theme-color-oficinas);
    --ui-card-text-color: var(--theme-color-blue);
  }