@import "@material/button/mdc-button";
@import "src/globals/scss/02_tools/force-reset";

:host {
  /** Card **/
  --ui-correos-card-bg-color: white;
  --ui-correos-card-border-radius: 0px; // 8px
  --ui-correos-card-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  --ui-correos-card-shadow-hover: 0 10px 20px 0 rgba(0, 0, 0, 0.25);
  --ui-card-bg-color-disabled: grey;
  --ui-card-border-color: red;

  /** Icon **/
  --correos-card-icon-bg-color: magenta;

  /** Image **/
}

.card {
  @include reset-button();
  height: auto;
  min-width: 192px;
  min-height: 96px;
  border-radius: var(--ui-correos-card-border-radius);
  padding: 16px;
  background-color: var(--ui-correos-card-bg-color);
  box-shadow: var(--ui-correos-card-shadow);
  border: solid 1px var(--ui-card-border-color);
  display: flex;

  &:hover {
    box-shadow: var(--ui-correos-card-shadow-hover);
    cursor: pointer;
  }

  &:disabled {
    background: var(--ui-card-bg-color-disabled);
    ::slotted([slot="icon"]),
    ::slotted([slot="image"]),
    ::slotted([slot="text"]) {
      opacity: 0.3;
    }
    box-shadow: none;
  }

  &:focus {
    outline: none;
    outline-width: 0;
  }

}

:host([tools]) {
  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

::slotted([slot="icon"]) {
  margin-right: 16px;
  background-color: var(--correos-card-icon-bg-color);
  border-radius: 50%;
  min-width: 40px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

::slotted([slot="image"]) {
  margin-bottom: 16px;
  display: block;
}
