:host {
  --templateComponentType-floating-buttton-bg-color: magenta;
  --templateComponentType-floating-buttton-bg-color-hover: green;
  --templateComponentType-floating-buttton-bg-color-disabled: gray;
  --templateComponentType-floating-buttton-icon-bg-color: red;
  --templateComponentType-floating-buttton-icon-bg-color-disabled: red;
}
