/* Settings */
:root {
  --theme-fontFamily-main: "Cartero", "Helvetica Neue", Helvetica, Arial, sans-serif;

  --theme-borderRadius-main: 6px;
  --theme-borderRadius-card: 8px;

  --theme-color-yellow: #FFCD00; 
  --theme-color-blue: #000066; 
  --theme-color-hoverBlue: #000042; 
  --theme-color-iceBlue: #1ECAD3; 
  --theme-color-ashBlue: #C3E4EB; 
  --theme-color-coolGrey: #F3F2F2; 
  --theme-color-white: #ffffff; 
  --theme-color-green: #348F41; 
  --theme-color-red: #F32735; 
  --theme-color-lemonYellow: #F9E67E; 
  --theme-color-hoverYellow: #DBB000; 
  --theme-color-strongGrey: #333333; 
  --theme-color-lightGrey: #666666; 
  --theme-color-softGrey: #CBCBCB; 
  --theme-color-buzones: #0D99AB; 
  --theme-color-citypaqGreen: #0D4542; 
  --theme-color-oficinas: #FFCD00; 
}