@import "@material/fab/mdc-fab";

// ESTILOS GENERALES, REFACTOR

:host {
  --ui-floating-buttton-bg-color: magenta;
  --ui-floating-buttton-bg-color-hover: green;
  --ui-floating-buttton-bg-color-disabled: gray;
  --ui-floating-buttton-icon-bg-color: red;
  --ui-floating-buttton-icon-bg-color-disabled: red;
}

.mdc-fab {
  @include mdc-fab-container-color(var(--ui-floating-buttton-bg-color));
  @include mdc-fab-ink-color(var(--ui-floating-buttton-icon-bg-color));
  &:hover {
    @include mdc-fab-container-color(var(--ui-floating-buttton-bg-color-hover));
  }
  &:disabled {
    @include mdc-fab-container-color(var(--ui-floating-buttton-bg-color-disabled));
    @include mdc-fab-ink-color(var(--ui-floating-buttton-icon-bg-color-disabled));
  }
}
