:root {
  --cdk-text-block-bg-color:                var(--theme-color-white);
  --cdk-text-block-text-color-title:        var(--theme-color-strongGrey);
  --cdk-text-block-color-line:              var(--theme-color-yellow);
  --cdk-text-block-text-color-title-body:   var(--theme-color-strongGrey);
  --cdk-text-block-text-color-body:         var(--theme-color-strongGrey);
}
