:root {
	--cdk-heroscene-background-color:			 		var(--theme-color-blue);
	--cdk-heroscene-background-color-end:		  var(--theme-color-white);
	--cdk-heroscene-text-color: 							var(--theme-color-white);
	--cdk-heroscene-content-max-width: 				22em;
}