:root {
    --cdk-section-slider-color-text-title-mobile:   var(--theme-color-blue);
    --cdk-section-slider-color-text-title-desktop:  var(--theme-color-strongGrey);
    --cdk-section-slider-wrapper:                   var(--theme-layout-wrapper);
}