:root {
  --cdk-tarificador-bg-color: var(--theme-color-white);
  --cdk-tarificador-border-color: var(--theme-color-coolGrey);
  --cdk-tarificador-border-radius: var(--theme-borderRadius-card);
  --cdk-tarificador-text-color-title: var(--theme-color-strongGrey);
  --cdk-tarificador-text-color-text: var(--theme-color-strongGrey);
  --cdk-tarificador-border-radius: var(--theme-borderRadius-card);
}
