:root {
    --cdk-section-log-background-color: var(--theme-color-ashBlue);
    --cdk-section-log-border-color: var(--theme-color-iceBlue);
    --cdk-section-log-border-radius: var(--theme-borderRadius-card);
    --cdk-section-log-color-text-link: var(--theme-color-blue);
    --cdk-section-log-color-text-inf: var(--theme-color-manageBlue);
}