:root {
  --cdk-tracking-card-bg-color:          var(--theme-color-yellow);
  --cdk-tracking-card-text-color:        var(--theme-color-strongGrey);
  --cdk-tracking-card-text-color-link:   var(--theme-color-blue);
  --cdk-tracking-card-border-radius:     var(--theme-borderRadius-card);
  --cdk-tracking-card-box-shadow:        var(--theme-boxShadow-main);
}