@import "@material/button/mdc-button";

.mdc-button {
  font-family: var(--_ui-button-font-family);
  font-weight: 400;
  font-size: 1rem;
  height: 3.5rem;
  @include only-mobile {
    height: 3rem;
  }
  border: var(--_ui-button-border);

  @include mdc-button-outline-color(var(--_ui-button-border-color));
  @include mdc-button-shape-radius(var(--_ui-button-border-radius));
  @include mdc-button-container-fill-color(var(--_ui-button-bg-color));
  @include mdc-button-horizontal-padding(1.5rem);

  &:hover {
    background: var(--_ui-button-bg-color-hover);
    border-color: transparent;
  }

  &:disabled {
    background-color: var(--_ui-button-bg-color-disabled);
    border: solid 1px var(--_ui-button-border-color-disabled);
  }

  &:not(:disabled) {
    color: var(--_ui-button-text-color);
  }

  .mdc-button__ripple {
    &::after,
    &::before {
      background-color: white;
    }
  }

}


::slotted([slot="icon-left"]) {
  margin-right: 1rem;
}

::slotted([slot="icon-right"]) {
  margin-left: 1rem;
}

:host([variant="link"]) {
  .mdc-button {
    font-weight: bold;
    @include mdc-button-horizontal-padding(0);
    justify-content: start;
    &:hover {
      color: var(--_ui-button-text-color-hover);
    }

    &__label {
      text-align: initial;
    }
  }
  .mdc-button__ripple { opacity: 0 }
}

:host([variant="tiny"]) {
  .mdc-button {
    @include mdc-button-horizontal-padding(1rem);
  }
  ::slotted([slot="icon-left"]) {
    margin-right: 0rem;
  }
  .mdc-button__label {
    display: none;
  }
}

:host([variant="no-icons"]) {
  ::slotted([slot="icon-left"]) {
    display: none;
  }
}
