@mixin tablet {
	@media (min-width: #{map-get($layout-breakpoints, md)}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{map-get($layout-breakpoints, lg)}) {
		@content;
	}
}

@mixin only-mobile {
	@media (max-width: #{map-get($layout-breakpoints, md)} - 1) {
		@content;
	}
}

@mixin u-transition($properties, $duration, $easing, $delay) {
  will-change: $properties;
  transition-property: $properties;
  transition-delay: $delay;
  transition-duration: $duration;
  transition-timing-function: $easing;
}