@import "sass-rem/rem";
@import "force-reset";
@import "breakpoints";

@mixin u-transition($properties, $duration, $easing, $delay) {
  will-change: $properties;
  transition-property: $properties;
  transition-delay: $delay;
  transition-duration: $duration;
  transition-timing-function: $easing;
}

@mixin u-focus-background() {
  transition: background-color .15s linear;
  outline: none;
  &:focus {
    background-color: rgba(0, 0, 0, 0.1);
  }
}