$layout-grid-gap: (
	sm: 8px,
	md: 16px,
	lg: 32px
);

$layout-grid-gap-outside: 24px;

$layout-wrapper: 85.375rem;

$layout-breakpoints: (
	md: 640px,
	lg: 1024px
);

$layout-spacing: (
	1x: 8px,
	2x: 16px,
	3x: 24px,
	4x: 32px,
	5x: 40px,
	6x: 48px,
	7x: 64px,
	8x: 80px,
);

$font_path: "{{ scssFontsPath }}assets/fonts";
