/** Use ":host" to set styles and dont use additional div as wrapper to prevent innecesary DOM depth  */
:host {
	--ui-input-bg-color: #F3F2F2;
	--ui-input-border-radius: 8px;
	--ui-input-line-color: #FFCD00;
	--ui-input-line-color-ripple: #000066;
	--ui-input-label-color: #000066;
	--ui-input-field-color: #333333;
	--ui-input-field-color-empty: #666666;
	--ui-input-error-color: #F32735;
	--ui-input-valid-color: #348F41;
	display: block;
	padding: 16px;
	background-color: var(--ui-input-line-color);
	border-radius: 8px;
  	box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #dbb000;
	//@include container();
}
:host([size="md"]) {

}
:host([size="lg"]) {

}


/** Theme overrides
 * Try to use  the component custom properties API
 */
slot[name="icon"] {
	//display: inline-block;
}
.correos-cdk-tracking-card_container {
	align-items: center;
	margin-bottom: 8px;
	slot[name="titleSection"] {
		display:block;
		margin-bottom: 8px;
	}
	slot[name="helpSection"] {
		display:block;
		margin-top: 8px;
	}
} 
.cardsSection {
	margin-top: 8px;
}