:host {
  width: auto;
  max-width: 640px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  border: solid 1px #f3f2f2;
  background-color: #ffffff;

  /** own **/

  display: flex;
  flex-direction: column;
  padding: 16px;
}

.wrapper-main1 {
  // width: auto;
  // max-width: 640px;
  // height: auto;
  // border-radius: 8px;
  // box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
  // border: solid 1px #f3f2f2;
  // background-color: #ffffff;

  // /** own **/

  // display: flex;
  // flex-direction: column;
  // padding: 16px;
}

// :host([size="sm"]) {
//   font-size: 3rem;
//   background-color: red;
// }

.second {
  display: flex;
  margin-left: -4px;
  margin-right: -4px;
  // justify-content: space-between;
}

::slotted([slot="title"]) {
  margin: 0;
}

::slotted([slot="minimo"]) {
  margin-top: 20px !important;
}

.button-submit {
  display: flex;
  justify-content: center;
}

.aaa {
  width: 100%;
  margin-left: 4px;
  margin-right: 4px;
}
